@use '../utils/colors' as c;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: c.$Very-Light-Grayish-Blue;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/src/images/bg-top.svg) top -2rem right -10rem,
      url(/src/images/bg-bottom.svg) bottom 0 left 0;
    background-repeat: no-repeat;
    z-index: -10;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
