@use '../utils/colors' as c;

.pricing {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0 5rem;

  &__title {
    color: c.$Grayish-Blue;
    margin-bottom: 2.5rem;
  }

  &__toggle {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 4rem;

    &-text {
      color: c.$Light-Grayish-Blue;
      font-size: .938rem;
    }

    &-btn {
      position: relative;
      height: 33px;
      width: 60px;

      &_input {
        display: none;
      }

      &_slider {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        position: absolute;
        cursor: pointer;
        inset: 0;
        border-radius: 2rem;

        &:hover {
          background: c.$Light-Grayish-Blue;
        }

        &::before {
          content: '';
          position: absolute;
          background-color: hsl(0, 0%, 100%);
          width: 25px;
          height: 25px;
          bottom: 4px;
          left: 5px;
          border-radius: 50%;
          transition: all .3s;
        }
      }

      &_input:checked + &_slider::before {
        transform: translateX(25px);
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  &__card {
    border-radius: .5rem;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    font-size: .938rem;

    &.basic,
    &.master {
      background-color: hsl(0, 0%, 100%);
    }

    &.professional {
      background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    }

    &-type {
      font-size: 1.2rem;
      text-transform: capitalize;

      &.basic,
      &.master {
        color: c.$Grayish-Blue;
      }

      &.professional {
        color: hsl(0, 0%, 100%);
      }
    }

    &-price {
      font-size: 4rem;
      margin: 1.5rem 0;

      &.basic,
      &.master {
        color: c.$Dark-Grayish-Blue;
      }

      &.professional {
        color: hsl(0, 0%, 100%);
      }
    }

    &-list {
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;

      & li {
        padding: 1rem 0;
      }

      &.basic,
      &.master {
        color: c.$Grayish-Blue;
        border-top: 1px solid c.$Light-Grayish-Blue;

        & li {
          border-bottom: 1px solid c.$Light-Grayish-Blue;
        }
      }

      &.professional {
        color: hsl(0, 0%, 100%);
        border-top: 1px solid hsl(0, 0%, 100%);

        & li {
          border-bottom: 1px solid hsl(0, 0%, 100%);
        }
      }
    }

    &-more {
      text-transform: uppercase;
      letter-spacing: .1rem;
      width: 100%;
      text-align: center;
      border-radius: .5rem;
      padding: .8rem 0;
      cursor: pointer;
      transition: all .3s;

      &.basic,
      &.master {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: hsl(0, 0%, 100%);

        &:hover {
          background: hsl(0, 0%, 100%);
          color: hsl(237, 63%, 64%);
          border: 1px solid hsl(237, 63%, 64%);
        }
      }

      &.professional {
        background-color: hsl(0, 0%, 100%);
        color: hsl(237, 63%, 64%);
        border: 1px solid hsl(0, 0%, 100%);

        &:hover {
          background-color: transparent;
          color: hsl(0, 0%, 100%);
        }
      }
    }
  }
}
